
// Variables for styling blockquote components
// -------------------------------------------
// $blockquote-margin-y: Defines the vertical margin for blockquote elements. 
//                       Defaults to the global spacer variable ($spacer).
//
// $blockquote-font-size: Specifies the font size for blockquote text. 
//                        Defaults to 1.25 times the base font size (1rem).
//
// $blockquote-footer-color: Sets the text color for blockquote footer elements. 
//                           Defaults to $gray-600.
//
// $blockquote-footer-font-size: Determines the font size for blockquote footer text. 
//                                Defaults to 0.875em.

$blockquote-margin-y: $spacer !default;
$blockquote-font-size: 1rem * 1.25 !default;
$blockquote-footer-color: $gray-600 !default;
$blockquote-footer-font-size: .875em !default;
