$amber-50:  #fffbeb !default;
$amber-100: #fef3c7 !default;
$amber-200: #fde68a !default;
$amber-300: #fcd34d !default;
$amber-400: #fbbf24 !default;
$amber-500: #f59e0b !default;
$amber-600: #d97706 !default;
$amber-700: #b45309 !default;
$amber-800: #92400e !default;
$amber-900: #78350f !default;
$amber-950: #451a03 !default;
$ambers: (
    $amber-50:  $amber-50,
    $amber-100: $amber-100,
    $amber-200: $amber-200,
    $amber-300: $amber-300,
    $amber-400: $amber-400,
    $amber-500: $amber-500,
    $amber-600: $amber-600,
    $amber-700: $amber-700,
    $amber-800: $amber-800,
    $amber-900: $amber-900,
    $amber-950: $amber-950,
) !default;