$yellow-50: #fefce8 !default;
$yellow-100: #fef9c3 !default;
$yellow-200: #fef08a !default;
$yellow-300: #fde047 !default;
$yellow-400: #facc15 !default;
$yellow-500: #eab308 !default;
$yellow-600: #ca8a04 !default;
$yellow-700: #a16207 !default;
$yellow-800: #854d0e !default;
$yellow-900: #713f12 !default;
$yellow-950: #422006 !default;
$yellows: (
    "yellow-50": $yellow-50,
    "yellow-100": $yellow-100,
    "yellow-200": $yellow-200,
    "yellow-300": $yellow-300,
    "yellow-400": $yellow-400,
    "yellow-500": $yellow-500,
    "yellow-600": $yellow-600,
    "yellow-700": $yellow-700,
    "yellow-800": $yellow-800,
    "yellow-900": $yellow-900,
    "yellow-950": $yellow-950,
) !default;