$zinc-50:  #fafafa !default;
$zinc-100: #f4f4f5 !default;
$zinc-200: #e4e4e7 !default;
$zinc-300: #d4d4d8 !default;
$zinc-400: #a1a1aa !default;
$zinc-500: #71717a !default;
$zinc-600: #52525b !default;
$zinc-700: #3f3f46 !default;
$zinc-800: #27272a !default;
$zinc-900: #18181b !default;
$zinc-950: #09090b !default;
$zincs: (
    "zinc-50": $zinc-50,
    "zinc-100": $zinc-100,
    "zinc-200": $zinc-200,
    "zinc-300": $zinc-300,
    "zinc-400": $zinc-400,
    "zinc-500": $zinc-500,
    "zinc-600": $zinc-600,
    "zinc-700": $zinc-700,
    "zinc-800": $zinc-800,
    "zinc-900": $zinc-900,
    "zinc-950": $zinc-950,
) !default;