// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    // scss-docs-start utils-layout
    "aspect-ratio":
      (
        // responsive: true,
        property: aspect-ratio,
        class: aspect,
        values: (
          auto: auto,
          "square": #{"1 / 1"},
          "default": #{"4 / 3"},
          "video": #{"16 / 9"},
          "portrait": #{"9 / 16"},
          "paysage": #{"21 / 9"}
        )
      ),
    "columns": (
      // responsive: true,
      property: columns,
      class: columns,
      add-css-var: content,
      values: (
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
        7: 7,
        8: 8,
        9: 9,
        10: 10,
        11: 11,
        12: 12
      )
    ),
    "columns-grid-containers": (
      // responsive: true,
      property: columns,
      class: columns,
      add-css-var: default,
      values: $grid-containers
    ),
    "box-decoration-break": (
      property: box-decoration-break,
      class: box-decoration,
      values: clone slice
    ),
    "box-sizing": (
      property: box-sizing,
      class: box,
      values: (
        border: border-box,
        content: content-box
      )
    ),
    "display": (
      // responsive: true,
      // print: true,
      class: null,
      property: display,
      values: (
        inline: inline,
        block: block,
        inline-block: inline-block,
        flow-root: flow-root,
        flex: flex,
        inline-flex: inline-flex,
        grid: grid,
        inline-grid: inline-grid,
        contents: contents,
        table: table,
        inline-table: inline-table,
        table-caption: table-caption,
        table-cell: table-cell,
        table-column: table-column,
        table-column-group: table-column-group,
        table-footer-group: table-footer-group,
        table-header-group: table-header-group,
        table-row-group: table-row-group,
        table-row: table-row,
        list-item: list-item,
        hidden: none,
      )
    ),
    "sr-only": (
      // responsive: true,
      class: sr-only,
      property: position,
      values: (
        null: absolute,
      ),
      property2: width,
      values2: (
        null: 1px,
      ),
      property3: height,
      values3: (
        null: 1px,
      ),
      property4: padding,
      values4: (
        null: 0,
      ),
      property5: margin,
      values5: (
        null: -1px,
      ),
      property6: overflow,
      values6: (
        null: hidden,
      ),
      property7: clip,
      values7: (
        null: rect(0,0,0,0),
      ),
      property8: white-space,
      values8: (
        null: nowrap,
      ),
      property9: border-width,
      values9: (
        null: 0,
      ),
    ),
    "not-sr-only": (
      // responsive: true,
      class: not-sr-only,
      property: position,
      values: (
        null: static,
      ),
      property2: width,
      values2: (
        null: auto,
      ),
      property3: height,
      values3: (
        null: auto,
      ),
      property4: padding,
      values4: (
        null: 0,
      ),
      property5: margin,
      values5: (
        null: 0,
      ),
      property6: overflow,
      values6: (
        null: visible,
      ),
      property7: clip,
      values7: (
        null: auto,
      ),
      property8: white-space,
      values8: (
        null: normal,
      ),
    ),
    "float": (
      // responsive: true,
      class: float,
      property: float,
      values: (
        left: left,
        right: right,
        none: none,
        start: inline-start,
        end: inline-end,
      )
    ),
    "clear": (
      // responsive: true,
      class: clear,
      property: clear,
      values: (
        left: left,
        right: right,
        both: both,
        start: inline-start,
        end: inline-end,
        none: none,
      )
    ),
    "object-fit": (
      // responsive: true,
      property: object-fit,
      class: object,
      values: (
        contain: contain,
        cover: cover,
        fill: fill,
        scale: scale-down,
        none: none
      )
    ),
    "object-position": (
      // responsive: true,
      property: object-position,
      add-css-var: content,
      class: object,
      values: (
        bottom: bottom,
        center: center,
        left: left,
        left-bottom: left bottom,
        left-top: left top,
        right: right,
        right-bottom: right bottom,
        right-top: right top,
        top: top
      )
    ),
  ),
  $utilities
);
