$fushia-50:  #fdf4ff !default;
$fushia-100: #fae8ff !default;
$fushia-200: #f5d0fe !default;
$fushia-300: #f0abfc !default;
$fushia-400: #e879f9 !default;
$fushia-500: #d946ef !default;
$fushia-600: #c026d3 !default;
$fushia-700: #a21caf !default;
$fushia-800: #86198f !default;
$fushia-900: #701a75 !default;
$fushia-950: #4a044e !default;
$fushias: (
    fushia-50:  $fushia-50,
    fushia-100: $fushia-100,
    fushia-200: $fushia-200,
    fushia-300: $fushia-300,
    fushia-400: $fushia-400,
    fushia-500: $fushia-500,
    fushia-600: $fushia-600,
    fushia-700: $fushia-700,
    fushia-800: $fushia-800,
    fushia-900: $fushia-900,
    fushia-950: $fushia-950,
) !default;