// $gray-50: #f9fafb !default;
// $gray-100:#f3f4f6 !default;
// $gray-200:#e5e7eb !default;
// $gray-300:#d1d5db !default;
// $gray-400:#9ca3af !default;
// $gray-500:#6b7280 !default;
// $gray-600:#4b5563 !default;
// $gray-700:#374151 !default;
// $gray-800:#1f2937 !default;
// $gray-900:#111827 !default;
// $gray-950: #030712 !default;
// $grays: (
//     "gray-50": $gray-50,
//     "gray-100": $gray-100,
//     "gray-200": $gray-200,
//     "gray-300": $gray-300,
//     "gray-400": $gray-400,
//     "gray-500": $gray-500,
//     "gray-600": $gray-600,
//     "gray-700": $gray-700,
//     "gray-800": $gray-800,
//     "gray-900": $gray-900,
//     "gray-950": $gray-950,
// ) !default;


$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

$grays-rgb: map-loop($grays, to-rgb, "$value") !default;