$stone-50: #fafaf9 !default;
$stone-100: #f5f5f4 !default;
$stone-200: #e7e5e4 !default;
$stone-300: #d6d3d1 !default;
$stone-400: #a8a29e !default;
$stone-500: #78716c !default;
$stone-600: #57534e !default;
$stone-700: #44403c !default;
$stone-800: #292524 !default;
$stone-900: #1c1917 !default;
$stone-950: #0c0a09 !default;
$stones: (
    "stone-50": $stone-50,
    "stone-100": $stone-100,
    "stone-200": $stone-200,
    "stone-300": $stone-300,
    "stone-400": $stone-400,
    "stone-500": $stone-500,
    "stone-600": $stone-600,
    "stone-700": $stone-700,
    "stone-800": $stone-800,
    "stone-900": $stone-900,
    "stone-950": $stone-950,
) !default;