// nailus.scss themes
//
@import "default";
@import "acid";
@import "aqua";
@import "autumn";
@import "black";
@import "bumblebee";
@import "business";
@import "cmyk";
@import "coffee";
@import "corporate";
@import "cupcake";
@import "cyberpunk";
@import "dark";
@import "dim";
@import "dracula";
@import "emerald";
@import "fantasy";
@import "forest";
@import "garden";
@import "halloween";
@import "lemonade";
@import "light";
@import "lofi";
@import "luxury";
@import "night";
@import "nord";
@import "pastel";
@import "retro";
@import "sunset";
@import "synthwave";
@import "valentine";
@import "winter";
@import "wireframe";

$_colors-scheme: (
    // "acid": $acid-color-scheme,
    // "aqua": $aqua-color-scheme,
    // "autumn": $autumn-color-scheme,
    // "black": $black-color-scheme,
    // "bumblebee": $bumblebee-color-scheme,
    // "business": $business-color-scheme,
    // "cmyk": $cmyk-color-scheme,
    // "coffee": $coffee-color-scheme,
    // "corporate": $corporate-color-scheme,
    // "cupcake": $cupcake-color-scheme,
    // "cyberpunk": $cyberpunk-color-scheme,
    // "dark": $dark-color-scheme,
    // "dim": $dim-color-scheme,
    // "dracula": $dracula-color-scheme,
    // "emerald": $emerald-color-scheme,
    // "fantasy": $fantasy-color-scheme,
    // "forest": $forest-color-scheme,
    // "garden": $garden-color-scheme,
    // "halloween": $halloween-color-scheme,
    // "lemonade": $lemonade-color-scheme,
    // "light": $light-color-scheme,
    // "lofi": $lofi-color-scheme,
    // "luxury": $luxury-color-scheme,
    // "night": $night-color-scheme,
    // "nord": $nord-color-scheme,
    // "pastel": $pastel-color-scheme,
    // "retro": $retro-color-scheme,
    // "sunset": $sunset-color-scheme,
    // "synthwave": $synthwave-color-scheme,
    // "valentine": $valentine-color-scheme,
    // "winter": $winter-color-scheme,
    // "wireframe": $wireframe-color-scheme,
) !default;

$_themes_lists: (
    // "acid": $acids-rgb,
    // "aqua": $aquas-rgb,
    // "autumn": $autumns-rgb,
    // "black": $blacks-rgb,
    // "bumblebee": $bumblebees-rgb,
    // "business": $businesss-rgb,
    // "cmyk": $cmyks-rgb,
    // "coffee": $coffees-rgb,
    // "corporate": $corporates-rgb,
    // "cupcake": $cupcakes-rgb,
    // "cyberpunk": $cyberpunks-rgb,
    // "dark": $darks-rgb,
    // "dim": $dims-rgb,
    // "dracula": $draculas-rgb,
    // "emerald": $emeralds-rgb,
    // "fantasy": $fantasys-rgb,
    // "forest": $forests-rgb,
    // "garden": $gardens-rgb,
    // "halloween": $halloweens-rgb,
    // "lemonade": $lemonades-rgb,
    // "light": $lights-rgb,
    // "lofi": $lofis-rgb,
    // "luxury": $luxurys-rgb,
    // "night": $nights-rgb,
    // "nord": $nords-rgb,
    // "pastel": $pastels-rgb,
    // "retro": $retros-rgb,
    // "sunset": $sunsets-rgb,
    // "synthwave": $synthwaves-rgb,
    // "valentine": $valentines-rgb,
    // "winter": $winters-rgb,
    // "wireframe": $wireframes-rgb,
) !default;

@each $key-scheme, $value-sheme in $_colors-scheme {
    @if $value-sheme == light {
        @each $key-theme, $value-theme in $_themes_lists {
            @if $key-scheme == $key-theme{
                @include color-mode(data, #{$key-theme}, false) {
                    color-scheme: #{$value-sheme};
                    @each $color, $value in $acids-rgb {
                        #{$prefix}#{$color}: #{$value};
                    }
                }
            }
        }
    }
    
    @if $value-sheme == dark {
        @each $key-theme, $value-theme in $_themes_lists {
            @if $key-scheme == $key-theme{
                @include color-mode(data, #{$key-theme}, false) {
                    color-scheme: #{$value-sheme};
                    @each $color, $value in $acids-rgb {
                        #{$prefix}#{$color}: #{$value};
                    }
                }
            }
        }
    }
}